@import "/public/styles/global.scss";

// todo: this is just POC, you'll probably want to replace it!
.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;


  input {
    display: none;
  }

  label {
    padding: 0.5ch 1em;
  }

  input:checked + label {
    outline: 1px solid red;
  }
}

.group {
  display: none;
  flex: 1 1 100%;
  order: 1;

  input:checked + label + & {
    display: block;
  }
}

// end todo area...

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: orange;
  opacity: 1;
  transition: opacity .5s;

  &_content {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }

  &_close {
    pointer-events: none;
    opacity: 0;
  }
}
