@import "/public/styles/global.scss";

.main { 
    color: $color-2;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
    padding: 80px 32px;
    outline: none;
}

.header {

    &__logo {
        max-width: 220px;
        width: 20%;

        img {
            max-width: 100%;
            height: auto;
        }
    }
    
}

.menu_trigger {

        svg {
            width: 24px;
            height: 24px;

            @include tablet-min {
              width: 32px;
              height: 32px;
            } 
        }
    }
    
    .menu_content {
        position: fixed;
        background-color: $color-1;
        width: 280px;
        height: 100vh;
        top: 0;
        right: -280px;
        transition: 0.5s;
        color: $color-2;
        padding: 32px;

        svg {
            width: 16px;
            height: 16px;

            @include tablet-min {
              width: 24px;
              height: 24px;
            } 
        }

        ul {
            padding: 0;
            list-style: none;
            font-weight: 500;
        }

        li {
            padding: 20px 0 0;

            a {
                color: $color-2;
                text-decoration: none;
                transition: color .3s ease;

                &:hover {
                    color: $color-4;
                }
            }
        }

      }
      
      .menu_content:target {
        right: 0;
      }
