@import "/public/styles/mixins.scss";

.feature {
  color: $color-2;
  padding: 8px 24px;
  background: $color-4;
  border-radius: 60px;
  min-width: 150px;
  text-align: center;
  border: solid 1px #aab2b8;
}
