@import "/public/styles/mixins.scss";

.feature {
  color: $color-2;
  padding: 8px 24px;
  background: $color-4;
  border-radius: 60px;
  min-width: 150px;
  text-align: center;
  border: solid 1px #aab2b8;
}

.current {
  box-shadow: rgba(48, 198, 173, 0.4) 0px 4px 24px 0px;
}
