@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Space+Grotesk:wght@400;600&display=swap');
@import "/public/styles/global.scss";

// Global Styles

* {
    box-sizing: border-box;
    outline: none;
}

html {
  // offset scroll based on header height
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
  margin: 0;

  @include tablet-min {
    scroll-padding-top: 80px;
  }

  @include desktop-min {
    scroll-padding-top: 100px;
  }
}

body {
    // background: linear-gradient(to bottom, #0e0725 0%,#3e4c5e 50%,#0e0725 100%);
    // background: $color-1;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    background: conic-gradient(from 90deg at bottom right, $color-1, $color-4);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-weight: 800;
    line-height: 1;
}

h1, h2 {
    font-size: clamp(2rem, 4vw, 5rem);
    margin: 0 0 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

h3.tagline {
    color: $color-3;
}

p {
    font-size: clamp(.8rem, .9vw, .9rem);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: conic-gradient(from 90deg at bottom right, $color-1, $color-4);
    z-index: 10;

    img {
        max-width: 220px;
        width: 20%;
    }
}

.main {
    max-width: 1240px;
    margin: 0 auto;
}
